@import "imports/ress.css";
@import "imports/variables.css";
@import "imports/loading.css";
@import "imports/header.css";
@import "imports/footer.css";
@import "imports/exhibits.css";
@import "imports/visits.css";
@import "imports/support.css";
@import "imports/contact.css";
@import "imports/terms-of-use.css";
@import "imports/privacy-policy.css";

.main-view {
  background-size: cover;
  color: var(--font-blue);
  font-family: var(--font-poppins);
  text-align: center;

  & .heading {
    padding: 0 1.6rem;
  }

  & button {
    padding: .8rem 8rem;
    margin: 18rem auto 0 auto;
  }

}

.home-main {
  background-image: url(../image/home_bg_small.jpeg);
  background-position: center;
  height: 90vh;
}

.cta-yellow {
  background-color: var(--cta-bg);
  border-radius: 4px;
  text-wrap: nowrap;

  & a {
    text-decoration: none;
    color: var(--font-blue);
  }
}

.exhibits {
  padding: 4rem 2rem 8rem 2rem;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  & li {
    display: flex;
    flex-direction: column;
  }

  & img {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  & .exhibits-link {
    display: block;
    width: 100%;
    padding: 1.6rem 0;
    margin-top: 4rem;
    text-align: center;
  }

}

.exhibits-text-wrapper {
  background-color: var(--bg-blue);
  padding: 3.2rem 2rem;
  display: flex;
  flex-direction: column;

  & h4 {
    margin-bottom: 1.6rem;
  }

  .line {
    width: 5.2rem;
    height: 1px;
    background-color: var(--font-blue);
    margin: 0 auto;
  }

  & p {
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
  }

  & button {
    width: 100%;
    background-color: var(--font-blue);
    padding: 1.2rem 0;
    border-radius: 4px;

    & a {
      text-decoration: none;
      color: white;
      font-family: var(--font-poppins);
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}

.events {
  padding-top: 4rem;
  padding-bottom: 12.8rem;
  background-color: var(--bg-blue);
  position: relative;

  & ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    padding-left: 2rem;
  }

  & ul::-webkit-scrollbar{
    display: none;
  }

  & li {
    width: 85%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  & img {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  & .events-illustration {
    position: absolute;
    bottom: 0;
    left: 2rem;
    display: flex;
    align-items: flex-end;
  }

  & .dinosaur_1 {
    width: 8.8rem;
  }

  & .dinosaur_2 {
    width: 11.2rem;
  }
}

.events-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding: 3.2rem 2rem;
  background-color: white;

  & .category {
    font-family: var(--font-poppins);
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: var(--font-blue);
    background-color: var(--cta-bg);
    width: 38%;
    padding: .2rem 2.8rem;
    margin: 0 auto 2.4rem auto;
    display: inline-block;
    text-align: center;
  }

  & h4 {
    margin-bottom: 1.6rem;
  }

  .line {
    width: 5.2rem;
    height: 1px;
    background-color: var(--font-blue);
    margin: 0 auto;
  }

  & p {
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
  }

  & button {
    width: 100%;
    background-color: var(--font-blue);
    padding: .8rem 0;
    border-radius: 4px;

    & a {
      text-decoration: none;
      color: white;
      font-family: var(--font-poppins);
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

}

.explore {
  padding-top: 6.4rem;
  padding-bottom: 16.8rem;

  & ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    padding-left: 2rem;
  }

  & ul::-webkit-scrollbar{
    display: none;
  }

  & li {
    width: 85%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  & img {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }
}

.explore-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem 1.6rem 3.2rem 1.6rem;
  background-color: var(--bg-blue);

  & h4 {
    margin-bottom: .8rem;
  }
}

.image-wrapper {
  position: relative;
  padding-left: 1.6rem;
  margin-bottom: 9.6rem;

  & ul {
    list-style: none;
    display: flex;
    gap: 1.6rem;
    overflow-x: scroll;
  }

  & ul::-webkit-scrollbar{
    display: none;
  }

  & li {
    width: 25.6rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  & img {
    width: 100%;
  }
}

.image-wrapper::before {
  content: '';
  display: inline-block;
  background-image: url(../image/clip-712.png);
  background-size: contain;
  width: 14rem;
  height: 14.7rem;
  position: absolute;
  top: -30%;
  left: 0;
  z-index: -1;
}

.image-wrapper::after {
  content: '';
  display: inline-block;
  background-image: url(../image/clip-720.png);
  background-size: contain;
  width: 13rem;
  height: 13rem;
  position: absolute;
  bottom: -20%;
  right: 0;
  z-index: -1;
}

@media screen and (min-width:1024px) {
  .main-view {

    & .heading_1 {
      margin-top: 20rem;
      margin-bottom: 3.2rem;
    }

    & br {
      display: none;
    }

    .sp-mv-cta {
      display: none;
    }

    & button {
      padding: .8rem 4rem;
      margin: 0 auto;
    }

  }

  .home-main {
    background-image: url(../image/home_bg_large.jpg);
    height: 100vh;
  }

  .exhibits {
    position: relative;
    padding: 23.4rem 8% 19.2rem 8%;

    & ul {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }

    & li {
      width: 32%;
    }

    & .exhibits-link {
      width: 35%;
      margin: 8rem auto 0 auto;
      position: relative;
    }

    & .exhibits-link::before {
      content: '';
      background-image: url(../image/AdobeStock_491861288.png);
      background-size: contain;
      width: 8.2rem;
      height: 15.3rem;
      transform: rotate(-10deg);
      transition: .3s;
      position: absolute;
      top: -50%;
      left: -30%;
      pointer-events: none;
    }

    & .exhibits-link:hover::before {
      transform: rotate(0deg);
    }
  }

  .exhibits-text-wrapper {
    padding: 3.2rem 2.8rem 4rem 2.8rem;
    flex-grow: 1;

    & h4 {
      font-size: 2.8rem;
      list-style: 4rem;
      margin-bottom: 2.4rem;
    }

    & p {
      margin-bottom: 4.8rem;
      flex-grow: 1;
    }

  }

  .exhibits::before {
    content: '';
    background-image: url(../image/polar-human-cell.png);
    background-size: contain;
    width: 11.8rem;
    height: 12.1rem;
    position: absolute;
    top: 14.4rem;
    right: 12.8rem;
  }

  .events {
    padding: 17.6rem 8% 14.4rem 8%;

    & ul {
      padding-left: 0;
      overflow-x: hidden;
      justify-content: space-between;
      gap: 0;
    }

    & li {
      width: 32%;
    }

    & .events-illustration {
      left: 12.8rem;
    }

    & .dinosaur_1 {
      width: 14.6rem;
      margin-right: 1.6rem;
    }
  
    & .dinosaur_2 {
      width: 18.6rem;
    }
  }

  .events-text-wrapper {
    padding: 4rem 2.8rem;

    & .category {
      padding: .2rem 0rem;
      margin: 0 auto 4rem auto;
    }

    & h4 {
      margin-bottom: 2.4rem;
    }

    & p {
      margin-top: 2.4rem;
      margin-bottom: 4.8rem;
    }

    & button {
      padding: 1.2rem 0;
    }
  }

  .explore {
    padding: 17.6rem 8% 14.4rem 8%;

    & ul {
      padding-left: 0;
      overflow-x: hidden;
      justify-content: space-between;
      gap: 0;
    }

    & li {
      width: 27%;
    }

    & li:first-child {
      width: 42%;
    }
  }

  .explore-text-wrapper {
    padding: 2.4rem 2.8rem 3.2rem 2.8rem;

    & h4 {
      margin-bottom: 1.6rem;
      text-align: left;
    }
  }

  .image-wrapper {
    padding: 0rem 3.2rem;
    margin-top: 22.2rem;
    margin-bottom: 23.2rem;

    & ul {
      gap: 2.4rem;
    }

    & li {
      width: 25.6rem;
    }
  }

  .image-wrapper::before {
    width: 19.8rem;
    height: 20.8rem;
    top: -40%;
    left: 7%;
  }

  .image-wrapper::after {
    width: 20.2rem;
    height: 20.2rem;
    bottom: -40%;
    right: 7%;
  }

}

