@import "imports/ress.css";
@import "imports/variables.css";
@import "imports/header.css";
@import "imports/footer.css";
@import "imports/exhibits.css";
@import "imports/visits.css";
@import "imports/support.css";
@import "imports/contact.css";
@import "imports/terms-of-use.css";
@import "imports/privacy-policy.css";

.main-view {
  background-image: url(../image/home_bg_large.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: var(--font-blue);
  font-family: var(--font-poppins);
  text-align: center;

  & h1 {
    font-size: 6.7rem;
    line-height: 8rem;
    font-weight: 700;
    margin-top: 20rem;
    margin-bottom: 3.2rem;
  }

  & h2 {
    font-size: 2.8rem;
    line-height: 4rem;
  }
}

@media screen and (max-width:767px) {

  .main-view {
    background-image: url(../image/home_bg_small.jpeg);
    background-position: center;
    background-size: cover;
    height: 90vh;

    & h1 {
      display: inline-block;
      font-size: 3.6rem;
      line-height: 2.8rem;
      background-color: var(--bg-white);
      padding: 1.4rem 2.4rem;
      margin-top: 12.8rem;
      margin-bottom: 2.4rem;
    }

    & h2 {
      display: inline-block;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: 600;
      background-color: var(--bg-white);
      padding: .8rem 2.4rem;
    }
  }

  
}