footer {
  background-color: var(--footer-bg);
  color: white;
  padding: 6.4rem 3rem 3rem 3rem;

  & h6 {
    font-family: var(--font-poppins);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
  }
}

.footer-main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: var(--font-poppins);
  margin-bottom: 8rem;
}

.footer-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-icon {
  padding-right: .6rem;
}

.opening-hours {
  margin-bottom: 5.6rem;
  
  & table {
    display: flex;
    justify-content: center;
  }
}

table {
  border-collapse: collapse;
  text-align: left;
}

tr {
  border-bottom: solid 1px white;
}

tr:last-child {
  border-bottom: none;
}

th, td {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem;
  text-wrap: nowrap;
}

th {
  padding-right: 9.4rem;
}

td {
  text-align: center;
}

.address {
  margin-bottom: 4.6rem;

  & p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 400;
    width: 27.5rem;
    text-align: center;
    margin: 0 auto 2.8rem auto;
  }
}

.footer-nav {
  margin-bottom: 5.6rem;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 7rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  & li {

    & a {
      text-decoration: none;
      color: white;
    }
  }

}

.sns {
  text-align: center;

  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 1.6rem;
  }
  
  & li {

    & a {
      padding: 1.4rem;
      background-color: white;
      text-decoration: none;
      color: var(--footer-bg);
      display: flex;
      align-items: center;
      border-radius: 100%;
    }
  }

}

.documents {

  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    font-size: 1.2rem;
    line-height: 2.4rem;

    & a {
      text-decoration: none;
      color: white;
    }

    & .icons8-link {
      text-decoration: underline;
    }
  }

}

@media screen and (min-width:1280px) {

  footer {
    padding: 12.8rem 8rem 4.8rem 8rem;

    & h6 {
      font-weight: 700;
    }
  }

  .footer-main-container {
    flex-direction: row;
    margin-bottom: 19.6rem;
  }

  .footer-container-title {
    margin-bottom: 2.4rem;
  }

  .address {

    & p {
      font-weight: 500;
      margin-bottom: 4.2rem;
    }
  }

  .footer-nav {

    & ul {
      flex-direction: column;
      gap: 4.2rem;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: 600;
    }
  }

  .sns {
    text-align: left;

    & ul {
      margin-top: 2.4rem;
      gap: 1rem;
    }

  }

  .sns-link, .sns-icon {
    transition: .3s;
  }

  .sns-link:hover {
    transform: scale(1.2);
  }

  .sns-link:hover .sns-icon {
    transform: scale(1.2);
  }

  .documents {

    & ul {
      justify-content: end;
      gap: 5.6rem;
      font-size: 1.4rem;
    }

  }

}