.documents-main {

  & .documents-h1 {
    margin-top: 5.6rem;
    margin-bottom: 2.4rem;
  }

}

.documents-container {
  padding: 0 2rem 9.6rem 2rem;

  & .last-updated {
    margin-bottom: 2.4rem;
  }

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    & h5 {
      text-align: left;
      margin-bottom: .8rem;
    }

    & h6 {
      font-family: var(--font-poppins);
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: 700;
      margin-bottom: .8rem;
      color: var(--font-blue);
    }

    & a {
      color: var(--font-blue);
    }
  }

  & .terms-of-use-list {
    gap: 2.4rem;
  }

  & .detailed-list {
    gap: 1.6rem
  }
}

@media screen and (min-width:1024px) {

  .documents-main {

    & .documents-h1 {
      margin-top: 17.6rem;
      margin-bottom: 10.4rem;
    }
  
  }

  .documents-container {
    padding: 0 16% 23.2rem 16%;

    & .last-updated {
      margin-bottom: 5.6rem;
    }

    & ul {
  
      & h5 {
        margin-bottom: 1rem;
      }
  
      & h6 {
        margin-bottom: 1rem;
      }
    }

    & .terms-of-use-list {
      gap: 4rem;
    }
  
    & .detailed-list {
      gap: 2.4rem
    }
  }
}
